.event-grid {
    @include container;

    .grid {
        @include span(12);
    }

    .tile {
        position: relative;
        margin-bottom: gutter();
        transition: 0.8s;
        z-index: 5;

        &:hover {
            transform: scale(1.1);
            z-index: 10;
        }
        
        @include breakpoint((max-width $bp-medium)) {
            @include span(12);
        }

        @include breakpoint($bp-medium $bp-large) {
            @include span(6);

            &:nth-child(2n + 2) {
                @include last;
            }
        }

        @include breakpoint($bp-large $bp-xlarge) {
            @include span(4);

            &:nth-child(3n + 3) {
                @include last;
            }
        }

        @include breakpoint($bp-xlarge) {
            @include span(3);

            &:nth-child(4n + 4) {
                @include last;
            }
        }
    }

    .tile-content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        @include rem(padding, $spacer / 2);
        background-color: rgba(0, 0, 0, 0.8);

        * {
            color: $white;
        }
        
        h4 {
            margin: 0;
        }

        time {
            display: block;
        }

        small {
            display: block;
        }
    }

    .grid-filters {
        
    }
}