.event-tiles {

    .grid {
        @include span(12);
    }

    .tile {
        position: relative;
        z-index: 5;
        display: none;
        overflow: hidden;
        padding: $spacer / 3;
        float: left;

        .tile-content {
            bottom: $spacer / 3;
            left: $spacer / 3;
            right: $spacer / 3;
        }
        
        @include breakpoint((max-width $bp-medium / 1.5)) {
            width: 100%;
        }

        @include breakpoint(($bp-medium / 1.5) $bp-large) {
            width: 50%;
        }

        @include breakpoint($bp-large) {
            width: 33.33%;
        }
    }

    .tile-content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        @include rem(padding, $spacer / 2);
        background-color: rgba(0, 0, 0, 0.8);

        * {
            color: $white;
        }
        
        h4 {
            margin: 0;
        }

        time {
            display: block;
        }

        small {
            display: block;
        }
    }
}