.event {
    
    .content {
        @include span(12);
        position: relative;
    }

    .details {
        @include breakpoint((max-width $bp-medium)) {
            @include rem(padding-top, $spacer);
            @include rem(padding-bottom, $spacer);
            @include rem(margin-top, $spacer);
            @include rem(margin-bottom, $spacer);
            border-top: 1px solid $grey-dark;
            border-bottom: 1px solid $grey-dark;
        }

        @include breakpoint($bp-medium) {
            @include span(4);
            @include last;
            padding-left: gutter();
            border-left: 1px solid $grey-dark;
        }
        
        .title,
        p {
            margin: 0;
        }

        .detail {

            &[class*="icon-"] {
                @include rem(padding-left, ($spacer * 1.5));
                @include rem(background-size, $spacer);
                @include rem(background-position-x, 0.65rem);
                background-position-y: 0%;
            }

            @include rem(margin-top, ms(1));
            @include rem(margin-bottom, ms(1));

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    .description {
        @include span(12);
        
        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        @include breakpoint($bp-medium) {
            @include span(8);
        }
    }

    .tags {
        @include span(12);
        @include rem(margin-top, $spacer);

        @include breakpoint($bp-large) {
            @include rem(margin-top, ms(1));
        }
    }

    .event-links {
        @include breakpoint((max-width $bp-medium)) {

            @include span(12);
            @include rem(margin-top, $spacer);
        }

        @include breakpoint($bp-medium) {
            position: absolute;
            @include rem(top, -6.19rem);
            right: $spacer;
            width: span(6);
        }

    }
}