.event-tiles {
    position: relative;

    .grid {
        @include span(12);

        @include breakpoint($bp-medium / 1.5) {
            @include rem(margin-top, -($spacer / 3));
        }
    }

    .tile {
        position: relative;
        z-index: 5;
        display: none;
        overflow: hidden;
        float: left;
        
        @include breakpoint((max-width $bp-medium / 1.5)) {
            width: 100%;
            margin-bottom: gutter();
        }

        @include breakpoint(($bp-medium / 1.5) $bp-large) {
            width: 50%;
        }

        @include breakpoint($bp-medium / 1.5) {
            @include rem(padding, $spacer / 3);
        }

        @include breakpoint($bp-large) {
            width: 33.33%;
        }
    }

    .tile-content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        @include rem(padding, $spacer / 2);
        background-color: rgba(0, 0, 0, 0.8);

        @include breakpoint($bp-medium / 1.5) {
            @include rem(left, $spacer / 3);
            @include rem(bottom, $spacer / 3);
            @include rem(right, $spacer / 3);
        }

        * {
            color: $white;
        }
        
        h6 {
            margin: 0;
        }

        time {
            display: block;
        }

        small {
            display: block;
        }

        time, 
        small {
            font-size: 80%;
        }
    }
}