[role="header"] {
    @include span(12 no-gutter);
    @include rem(height, $header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $grey-darker;
    z-index: 20;

    .logo {
        position: absolute;
        @include rem(top, 0.5rem);
        @include rem(bottom, 0.5rem);
        @include rem(left, 1rem);
    }

    .social {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    [role="nav"] {
        position: absolute;
        top: 0;
        @include rem(right, 1rem);
        bottom: 0;
        height: 100%;
        width: span(6);
        text-align: right;

        [role="menu-item"] {
            display: inline-block;
            height: 100%;
            line-height: 0.85;
            @include rem(padding, $spacer / 2);
            background-color: $grey-dark;
            color: $white;
            text-decoration: none;
            @include rem(margin-left, -0.25rem);

            &.active {
                background-color: $blue;
            }

            &.download-app {
                background-size: contain;
                background-position: 50%;
                background-color: transparent;
                @include rem(width, 6rem);
                @include rem(margin-left, 1rem);
            }
        }
        
        
    }

    
}