[role="header"] {
    @include span(12 no-gutter);
    @include rem(height, $header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $grey-darker;
    z-index: 20;

    .logo {
        position: absolute;
        @include rem(top, 0.5rem);
        @include rem(bottom, 0.5rem);
        @include rem(left, 1rem);
    }

    .social {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    [role="nav"] {
        position: absolute;
        top: 0;
        @include rem(right, 1rem);
        bottom: 0;
        height: 100%;
        width: span(6);
        
        .download-app {
            display: block;
            background-size: contain;
            background-position: 50%;
            height: 100%;
            @include rem(width, 6rem);
            @include last;
        }
    }
}