[role="header"] {
    @include span(12 no-gutter);
    @include rem(height, ms(4));
    position: relative;
    background-color: $grey-darker;

    .logo {
        position: absolute;
        top: 0.5rem;
        bottom: 0.5rem;
        left: 1rem;
    }

    .social {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}