.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #4679BD;

    &::before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .square-content{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .square-content div {
       display: table;
       width: 100%;
       height: 100%;
    }

    .square-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white;
    } 

    &-bordered {
        @extend .square-box;
        border: 1px solid $grey;
        border-radius: 5px;
        background-color: $white;
        
        .square-content {
            border: 1px solid transparent;
            border-radius: 5px;
            @include rem(margin, 0.5rem);
        }
    }
}



