.logo {
    @include rem(width, 8rem);
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    display: block;

    background-image: url('../../images/logo-light.png');
    @include image-2x('../../images/logo-light@2.png');
}