@import 'utils/utils';

.sg-section {
    @include span(12);
    padding: ms(2);
    background-color: $grey;
}

.sg-pattern {
    @include span(12);
    position: relative;
    background-color: $white;
    border: 1px solid darken($grey, 15%);
    padding: $base-padding;
    margin-bottom: $base-margin;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.sg-section-title,
.sg-pattern-title {
    @include span(12);
    color: $white;
    padding: $base-padding; 
}

.sg-section-title {
    background-color: $blue;
}

.sg-pattern-title {
    background-color: $red;
}

code {
    color: $blue;
}